
body {
  background-color: lightsteelblue;
}


a.nowrap1 {
    white-space: nowrap;
}


div.a {
  text-indent: 50px;
}


table, th, td {
  border:1px solid black;
}


th, td {
  padding: 15px;
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}


