
body {
  background-color: lightsteelblue;
}


div.a {
  text-indent: 50px;
}


table, th, td {
  border:1px solid black;
}

#table, td, a {
#  font-family: "Lucida Console", "Courier New", monospace;
#  }
 


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

