
body {
  background-color: Gainsboro;
}


#theDiv {
  width: 400px;
  border: solid darkblue 2px;
}


a.nowrap1 {
    white-space: nowrap;
}


div.a {
  text-indent: 50px;

}





table, th, td {
  border:1px solid darkblue;
}


th, td {
  padding: 15px;
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}


a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}






#lottery {
  border: 1px solid black;
  border-collapse: collapse;
}

#lottery caption {
    caption-side: bottom;
    text-align: center;
    margin-bottom: 5px;
    font-size: 100%;
    padding: 5px;
    font-weight: bold;
}

#lottery th {
  background-color: darkblue;
  color: white;
    text-align: center;
    padding: 20px;
  border: 1px solid darkblue;
}

#lottery td {

  text-align: center;
  padding: 20px;
  border: 1px solid darkblue;
}

#lottery tr:nth-child(even) {background-color: #f2f2f2;}
#lottery tr:nth-child(odd) {background-color: #f9f9f9;}

#lottery tr:hover {background-color: #D6EEEE;}


footer {
  text-align: center;
  padding: 3px;
  background-color: DarkBlue;
  color: white;
   a:link {
   color: white;  
   }
}  



